{% extends 'base.html.twig' %}

{% block title %}Chokalatte | About{% endblock %}

{% block body %}
    <section id="about">
        <div class="about">
            <div class="about-half img" style="background-image: url(../images/background/freepik-export-20241107143158lCRY.png); position: relative; z-index: -1;">
            </div>
            <div class="about-half">
                <div class="overlap">
                    <span>Chokalatte</span>
                    <h2>Our Story</h2>
                    <p>At Chokolatté, our journey began with a simple love for rich
                    , authentic flavors and the joy that a perfect sip or bite can bring. 
                    Founded by passionate connoisseurs of chocolate and coffee
                    , we set out to create a haven for those who appreciate the little moments that make life sweet. 
                    Our mission has always been to bring the finest beans and cacao from around the world and blend them into unforgettable experiences.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
