{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}"> 
{% endblock %} #}

{% block body %}
    <section id="hero">
        <div class="hero">
            <div class="overlay"></div>

        </div>
    </section>
{% endblock %}