.hourly {
    padding: .6em 0;
    clear: both;
    background: #f38181;
}


#menu {
    /*width: 100%;
    height: auto;*/
}

/*-----menu-----*/
.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cartes par ligne */
    gap: 20px; /* Espace entre les cartes */
}
.menu-item {
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}