* {
    margin: 0;
    padding: 0; 
    font-family: Funky;
    box-sizing: border-box;
}
body {
    /*background-color: skyblue;*/
    background-color: #F8F8F825;
    /*background-color: hotpink;*/
}
img {
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
::selection{
	color: #625772;
	background: #f38181;
}

@font-face {
    font-family: Funky; 
      src: url(../../public/fonts/FunkyBird.otf);
}

.container {
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.display-flex {
    display: flex!important;
}
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
.justify-content-center {
    justify-content: center!important;
}
.flex-wrap{
    flex-wrap: wrap!important;
}

@media (max-width: 768px) { /* règle de média pour les appareils mobiles */
    .hidden-mobile {
        display: none; /* cache l'élément sur les appareils mobiles */
    }
}

.abstract-button {
    text-decoration: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.secondary-button {
    border: 1px solid #000;
    border-radius: 3px;
    padding: .4rem 0.8rem;
    transition-property: background-color, color, transform;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    text-align: center;
}
.secondary-navigation li:nth-child(1) .secondary-button:hover {
    background-color: #f7f7f7;
    transition: .3s ease-out;
}
/* Cibler le deuxième élément <li> pour appliquer le style */
.secondary-navigation li:nth-child(2) .secondary-button {
    background-color: #000; /* Fond noir */
    color: #fff; /* Couleur du texte, ajustez si nécessaire */
    border: none;
}
.secondary-navigation li:nth-child(2) .secondary-button:hover {
    background-color: #3e3e3e; /* Fond noir plus fonceé */
    transition: .3s ease-out;
    scale: 1.1;
}


.a-link:hover{
    color: #FFF;
    background: #000;
    transition: all .7s ease-out;
}




