* {
    margin: 0;
    /*padding: 0;*/ 
    font-family: Cousine;
    box-sizing: border-box;
}

body {
    /*background-color: skyblue;*/
    background-color: #F8F8F84A;
}

.display-flex {
    display: flex!important;
}
.text-align-center {
    text-align: center;
}
.justify-content-center {
    justify-content: center!important;
}
.flex-wrap{
    flex-wrap: wrap!important;
}



::selection{
	color: #625772;
	background: #f38181;
}

@font-face {
    font-family: Cousine;
      src: url(../../public/fonts/Cousine-Regular.ttf);
}



