{% extends 'base.html.twig' %}

{% block title %}Chokalatte | Menu{% endblock %}

{% block body %}
    <div class="hourly">
        <div class="container">
            <div class="row">
                <h1>Hourly Schedule</h1>
            </div>
        </div>    
    </div>
    <section id="menu">
        <div class="menu">
            <h1>Menus</h1>
    <ul>
        {% for category in categories %}
        <ul>
            <li>{{ category.name }}</li>
            <li>{{ category.description }}</li>
        </ul>    
        {% endfor %}
    </ul>
        </div>
    </section>
{% endblock %}